@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(to right bottom, #fff, rgb(225, 234, 246));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-1s2u09g-control,
.css-185uon1-control {
  border: none !important;
  border: none !important;
  box-shadow: none !important;
}

.css-1pahdxg-control,
.css-1pahdxg-control:hover,
.css-1pahdxg-control:focus,
.css-1pahdxg-control:active {
  border-color: white !important;
  box-shadow: none !important;
  border-width: 0px !important;
}

.css-1okebmr-indicatorSeparator {
  display: none !important;
}

.css-2613qy-menu {
  border: none !important;
}
.css-qc6sy-singleValue {
  font-family: "DM Sans" !important;
  font-weight: 400;
  color: #1b2c45 !important;
}
.css-319lph-ValueContainer {
  padding: 2px 10px !important;
}
.css-tlfecz-indicatorContainer,
.css-1gtu0rj-indicatorContainer {
  padding: 0 !important;
  transform: rotate(180deg);
}

.css-tlfecz-indicatorContainer {
  transform: rotate(0deg);
}

.react-switch-handle {
  border-radius: 7px !important;
  width: 22px !important;
  right: 32px !important;
}
.react-switch-bg {
  border-radius: 10px !important;
}
.css-tlfecz-indicatorContainer,
.css-1gtu0rj-indicatorContainer {
  position: relative;
  right: 16px;
}

.css-14el2xx-placeholder {
  font-family: "DM Sans" !important;
  font-weight: 500;
}

.invalid-select .css-1s2u09g-control > div > div {
  color: red !important;
}

.z-index-high {
  z-index: 99999 !important;
}
.z-index-low {
  z-index: 9999 !important;
}

@media only screen and (max-width: 768px) {
  .css-b62m3t-container {
    margin-bottom: 2em;
  }
}
